<form action="/profile/edit" method="POST">
    <label for="first_name">First Name
    </label>

    <input
        class="field"
        type="text"
        id="first_name"
        name="first_name"
        placeholder="First Name"
        value="{{first_name}}"
        required
    />

    <label for="last_name">Last Name
    </label>

    <input
        class="field"
        type="text"
        id="last_name"
        name="last_name"
        placeholder="Last Name"
        value="{{last_name}}"
        required
    />

    <label for="email">Email
    </label>
    <input
        class="field"
        type="text"
        id="email"
        name="email"
        placeholder="Email"
        value="{{email}}"
        required
    />
    <label for="city">City
    </label>
    <input class="field" name="city" placeholder="Your City" value="{{city}}" />

    <label for="homepage">Homepage
    </label>
    <input
        class="field"
        type="text"
        id="homepage"
        name="homepage"
        placeholder="Homepage"
        value="{{homepage}}"
        required
    />

    <button type="submit" class="action">Edit!</button></form>
<p><a class="buttonish" href="/thank-you">Go Back!</a></p>