<form action="/profile/edit" method="POST">
    <label for="first_name">First Name
    </label>

    <input
        type="text"
        id="first_name"
        name="first_name"
        placeholder="First Name"
        value="{{first_name}}"
        required
    />

    <label for="last_name">Last Name
    </label>

    <input
        type="text"
        id="last_name"
        name="last_name"
        placeholder="Last Name"
        value="{{first_name}}"
        required
    />

    <label for="email">Email
    </label>
    <input
        type="text"
        id="email"
        name="email"
        placeholder="Email"
        value="{{first_name}}"
        required
    />
    <label for="city">City
    </label>
    <input name="city" placeholder="Your City" value="{{city}}" />

    <label for="homepage">Homepage
    </label>
    <input
        type="text"
        id="homepage"
        name="homepage"
        placeholder="Homepage"
        value="{{first_name}}"
        required
    />

    <button type="submit" class="action">edit</button></form>