<div class="signatureList">
    <p>Other people from {{city}} who already signed: </p>
    {{#each signatures}}
        <div>
            <a href="http://{{homepage}}">{{first_name}} {{last_name}}</a>
            {{age}}
        </div>
    {{/each}}

    <p><a class="buttonish" href="/signatures">Go Back!</a></p>
</div>